.grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 100%;
    justify-content: center;
    width: 100%;
    max-width: 840px;
    margin: auto;
}

.grid.grid--list {
    grid-template-columns: 100%;
    max-width: unset;
}

@media (min-width: 840px) {
    .grid {
        grid-template-columns: repeat(2, 375px);
    }
}

.grid__list-item {
    display: flex;
    flex-flow: row;
    gap: 10px;
    color: var(--highlight-text-color);
}

.grid__list-apdex {
    font-size: 13px;
    font-weight: bold;
    opacity: 0.62;
}

.grid__list-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
}
