.grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 100%;
}

.grid.grid--list {
    grid-template-columns: 1fr;
}

@media (min-width: 840px) {
    .grid {
        grid-template-columns: repeat(2, 375px);
    }
}

.grid__section {
    background-color: #fff;
    padding: 30px;
}

.grid__title {
    margin: 0;
}

.grid__title + .grid__list {
    padding-top: 23px;
}

.grid__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    color: #4a5a5a;
}

.grid__list-item {
    display: flex;
    flex-flow: row;
    gap: 10px;
}

.grid__list-item + .grid__list-item {
    margin-top: 10px;
}

.grid__list-apdex {
    font-size: 13px;
    font-weight: bold;
    opacity: 0.62;
}
.grid__list-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px; /* preventing overflow to crop letters */
}

/* Skeleton part*/

@keyframes gradient-animation {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 100%;
    }
}

.grid.loading .grid__title,
.grid.loading .grid__list-item {
    color: transparent;
    border-radius: 10px;
    animation-duration: 2s;
    width: 100%;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: gradient-animation;
    background: linear-gradient(
        125deg,
        #eee,
        #eee 30%,
        #ccc 45%,
        #ccc 55%,
        #eee 70%,
        #eee
    );
    background-size: 300% 100%;
    background-position-x: 0;
}
