.main {
    width: 100%;
    max-width: var(--page-width);
    padding: 30px 30px 20px;
    display: flex;
    flex-flow: column;
    gap: 30px;
    box-sizing: border-box;
    float: none;
    margin: auto;
}
