#dark-theme-icon {
    fill: var(--yellow);
    stroke: var(--yellow);
}

body.dark-mode {
    --background-color: var(--cadet-blue);
    --general-text-color: var(--deep-sky-blue);
    --highlight-text-color: var(--white);
    --highlight-items-color: var(--deep-sky-blue);
    --border-items-color: var(--dark-grey);
    --skeleton-animation-1: var(--cadet-blue);
    --skeleton-animation-2: var(--black);
    --inner-background: var(--almost-black);
}

.nav__icon {
    background-color: var(--inner-background);
    border-radius: 50%;
    padding: 5px;
    margin: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.nav__icon > svg {
    width: 100%;
    height: 100%;
}

.ui-toolkit {
    width: 100%;
    max-width: 840px;
    justify-content: flex-end;
    display: flex;
    margin: auto;
    float: none;
}
